body{
  width: 350px;
}

.btn{
  padding: 10px 20px;
  border: none;
  color: white;
  background-color: rgb(62, 28, 234);
  border-radius: 10px;

}
input[type='text']{
  color: blue;
  padding: 3px 10px;
  border: 2px solid purple;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 18px;
  width: 325px;
  height: 25px;
}
p a{
  display: block;
  background-color:royalblue;
  color: white;
  width: 325px;
  padding: 5px 10px;
 border-radius: 5px;
}